@import 'src/scss/variables';

:host {
  display: block;

  ::ng-deep img {
    width: 100%;
    height: 100%;
  }

  &:hover .grid-content {
    @include mat-elevation(6);
  }
}

.grid-content {
  border: none;
  @include mat-elevation(1);
  transition: box-shadow 0.2s ease-in-out;
}

.grid-label {
  margin: 12px auto 0;
  text-align: center;
}

.title {
  color: mat-color($app-foreground, text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2rem;

  &:hover {
    color: mat-color($app-accent, default);
  }
}

.subtitle {
  color: mat-color($app-foreground, secondary-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  ::ng-deep a {
    color: inherit;
  }
}

.subtitle-item {
  vertical-align: middle;
  line-height: 17px;

  &:not(.last):after {
    content: '•';
    padding: 0 4px;
    vertical-align: middle;
  }
}

.certification {
  text-transform: uppercase;
}

genre-widget {
  display: inline-block;
}
