@import "../../../../../../../scss/variables";

.mat-raised-button {
  display: block;
  margin-bottom: 25px;
}

.images-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 15px;
  overflow: hidden;
}

media-image {
  display: block;
  @include mat-elevation(3);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: move;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);

  &:active {
    @include mat-elevation(6);
    opacity: .6;
  }
}

.mat-mini-fab {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.cdk-drag-placeholder {
  opacity: .3;
}

.cdk-drag-preview {
  @include mat-elevation(6);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
