media-image {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  img.ng-lazyloaded {
    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    animation: fadein 0.5s;
  }
}
