@import "../../../../../scss/variables";

full-credits-page {
  display: block;
  width: 100%;

  .credits-container {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .mat-expansion-panel {
    border: 1px solid mat-color($app-foreground, divider);
    margin-bottom: 20px;
    background: mat-color($app-background, card);
    color: mat-color($app-foreground, text);

    .credit-group-name {
      text-transform: capitalize;
    }
  }

  .credit {
    display: flex;
    align-items: center;
    padding-bottom: 5px;

    .name {
      display: block;
      width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: mat-color($app-accent, default);

      &:hover {
        text-decoration: underline;
      }
    }

    .separator {
      padding: 0 15px;
    }

    .job {
      text-transform: capitalize;
    }
  }
}