genre-widget {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .separator.default {
    padding: 0 5px;
  }
}
