<div [formGroup]="form" class="many-inputs">
    <div class="input-container">
        <label for="review-type-filter" trans>Type</label>
        <select id="review-type-filter" formControlName="type">
            <option [ngValue]="null" trans>All</option>
            <option value="review" trans>Review</option>
            <option value="rating" trans>Rating</option>
        </select>
    </div>

    <div class="input-container">
        <select-user-input formControlName="user"></select-user-input>
    </div>

    <div class="input-container">
        <select-title-input [formGroup]="form"></select-title-input>
    </div>
</div>
