@import "../../../../../scss/variables";

current-next-episode-panel {
  display: flex;
  margin-bottom: 35px;
  padding-bottom: 35px;
  margin-top: 10px;
  padding-top: 10px;
  border-bottom: 1px solid mat-color($app-foreground, divider);

  @media only screen and (max-width: $medium) {
    display: none;
  }

  &:empty {
    display: none;
  }

  .episode {
    flex: 0 0 50%;
    width: 50%;

    .header {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
  }

  .media {
    display: flex;

    .img-container {
      display: block;
      margin-right: 15px;
      max-width: 200px;
      flex: 1 1 auto;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .media-body {
      flex: 1 1 auto;
      max-width: 300px;

      .name {
        display: block;
        color: mat-color($app-accent, default);
        font-size: 1.6rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          text-decoration: underline;
        }
      }

      .release-date {
        font-size: 1.5rem;
        color: mat-color($app-foreground, secondary-text);
        margin: 5px 0;
      }
    }
  }
}
