@import "../../../../scss/variables";

:host {
  display: block;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .text {
    font-size: 2.5rem;
    text-transform: capitalize;
  }

  .add-video-btn {
    margin-left: auto;
  }
}

.season-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.season-list-item {
  display: block;
  flex: 1 1 auto;
  margin: 0 5px 10px;

  .mat-icon {
    margin-right: 8px;
  }
}