@import "../../../../scss/variables";

star-rating-widget {
  display: flex;
  align-items: center;
  color: mat-color($app-foreground, text);

  .stars {
    padding-right: 5px;
  }

  .current-rating {
    min-width: 30px;
    line-height: 40px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    border-left: 1px solid mat-color($app-foreground, divider);
    padding-left: 10px;
  }
}
