@import "../../../scss/variables";

homepage {
  display: block;
  width: 100%;

  .lists {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: calc(100vh - 600px);
  }

  .list {
    margin-bottom: 30px;
    padding: 30px 0;

    &:nth-of-type(even) {
      background-color: mat-color($app-background, background);
    }

    h2 {
      font-size: 3rem;
      margin: 0;

      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 0 0 5px;
    }

    media-view {
      padding-top: 25px;
      margin-top: 5px;
      border-top: 1px solid mat-color($app-foreground, divider);
    }
  }

  .shared-ad-host {
    margin-top: 60px;
  }

  .homepage-ad-host {
    margin-bottom: 60px;
  }
}
