<div class="datatable-page-header">
  <h1 trans>Titles</h1>
  <div class="header">
    <datatable-filters pluralName="titles" [filters]="filters"></datatable-filters>
    <div class="action-buttons">
      <button
        mat-raised-button
        color="accent"
        class="button-with-icon"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon svgIcon="add"></mat-icon>
        <span trans>New Title</span>
      </button>
      <mat-menu #menu="matMenu">
        <a
          mat-menu-item
          *ngIf="currentUser.hasPermission('titles.create')"
          routerLink="/admin/titles/new"
          class="button-with-icon"
          trans
        >
          Create Title
        </a>
        <button
          mat-menu-item
          type="button"
          (click)="openImportMediaModal()"
          trans
        >
          Import Title
        </button>
      </mat-menu>
    </div>
  </div>
</div>

<div class="datatable responsive-table">
  <mat-progress-bar
    class="loading-bar"
    mode="indeterminate"
    color="accent"
    *ngIf="datatable.paginator && datatable.paginator.loading$ | async"
  ></mat-progress-bar>
  <table class="material-table">
    <thead>
      <tr>
        <th table-header-checkbox></th>
        <th table-sort-header trans>Name</th>
        <th table-sort-header="is_series" trans>Type</th>
        <th table-sort-header trans>Release Date</th>
        <th table-sort-header trans>Rating</th>
        <th table-sort-header="views" trans>Local Views</th>
        <th table-sort-header trans>Popularity</th>
        <th></th>
      </tr>
      <tr *ngIf="datatable.selectedRows$.value.length as selectedCount">
        <th colspan="8">
          <div
            class="bulk-actions-title"
            [transValues]="{count: selectedCount, resource: 'title(s)'}"
            trans
          >
            :count :resource selected:
          </div>
          <div class="bulk-actions">
            <button
              mat-raised-button
              color="warn"
              (click)="maybeDeleteSelectedTitles()"
              *ngIf="currentUser.hasPermission('titles.delete')"
              trans
            >
              Delete
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let title of titles$ | async">
        <td [table-body-checkbox]="title.id"></td>
        <td>
          <div class="column-with-image">
            <media-image [src]="title.poster" size="small"></media-image>
            <a target="_blank" [routerLink]="url.generate(title)" class="link">{{ title.name }}</a>
          </div>
        </td>
        <td data-label="Type">{{ (title.is_series ? 'Series' : 'Movie') | trans }}</td>
        <td data-label="Release Date">{{ title.release_date | formattedDate }}</td>
        <td data-label="Rating">{{ title.rating ? title.rating + '/10' : '-' }}</td>
        <td data-label="Local Views">{{ title.views }}</td>
        <td data-label="Popularity">{{ title.popularity }}</td>
        <td class="edit-column">
          <a
            mat-icon-button
            [routerLink]="['/admin/titles', title.id, 'edit']"
            *ngIf="currentUser.hasPermission('titles.update')"
            [matTooltip]="'Edit title' | trans"
          >
            <mat-icon svgIcon="edit"></mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <no-results-message svgImage="movie-night.svg" *ngIf="datatable.paginator.noResults$ | async">
    <span primary-text trans>No titles have been created yet</span>
  </no-results-message>
  <datatable-footer></datatable-footer>
</div>
